<div class="container">
    
    <!-- barre du haut :  titre et retour à l'accueil-->
    <div class="row gris">
        <div class="col-8 offset-1 titre d-flex align-items-center"> Je m'inscris</div>
        <div class="col-3 d-flex align-items-center">
            <a routerLink="/"><img src="./../../../assets/maison4.png" alt="">
                <span>accueil</span>
            </a>
        </div>
    </div>
    <div class="row orange"><p class="message" *ngIf="visible">{{message}}</p></div>
    <!-- centre : formulaire d'inscription-->
    <div class="row grisclair">
        <div class="col-10 offset-1 beige">
            <form *ngIf="!visible" #formInscription="ngForm" (ngSubmit)="valider(formInscription)" autocomplete="off">
             
                <div>
                    <label>PSEUDO </label>
                    <input type="text" name="pseudo" [(ngModel)]="user.pseudo" required #saisiePseudo="ngModel" minlength="2" pattern="[a-zA-Z]{2,10}">
                    <img class="vu" *ngIf="(saisiePseudo.touched && saisiePseudo.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisiePseudo.touched && saisiePseudo.invalid)">merci d'indiquer votre
                        pseudo</p>
                </div>
                
                <div>
                    <label>MOT DE PASSE </label>
                    <input type="password" name="mdp" autocomplete="off" [(ngModel)]="user.mdp" required  #saisieMdp="ngModel" >
                    <img class="vu" *ngIf="(saisieMdp.touched && saisieMdp.valid)" src="./../../../assets/vert-gris.png"
                        alt="valid">
                    <p class="error" *ngIf="(saisieMdp.touched && saisieMdp.invalid)">merci d'indiquer votre mot de
                        passe. </p>
                </div>
                <div>
                    <label>NOM </label>
                    <input type="text" name="nom" [(ngModel)]="user.nom" required #saisieNom="ngModel" pattern="[a-zA-Z]+">
                    <img class="vu" *ngIf="(saisieNom.touched && saisieNom.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieNom.touched && saisieNom.invalid)">merci d'indiquer votre nom</p>

                </div>
                <div> <label>PRENOM</label>
                    <input type="text" name="prenom" [(ngModel)]="user.prenom" required #saisiePrenom="ngModel"  
                    pattern="[a-zA-Z]+">
                    <img class="vu" *ngIf="(saisiePrenom.touched && saisiePrenom.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisiePrenom.touched && saisiePrenom.invalid)">merci d'indiquer votre
                        prénom
                    </p>
                </div>
                <div> <label>DATE DE NAISSANCE:</label>
                    <input type="date" name="date" [(ngModel)]="user.date" required #saisieDate="ngModel">
                    <img class="vu" *ngIf="(saisieDate.touched && saisieDate.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieDate.touched && saisieDate.invalid)">merci d'indiquer votre date de
                        naissance</p>
                </div>
                <div>
                    <label>GENRE: </label>
                    <select name="genre" [(ngModel)]="user.genre" #saisieGenre="ngModel" required>
                        <option value="femme">femme</option>
                        <option value="homme">homme</option>
                        <option value="non genré">non genré</option>
                    </select>
                    <img class="vu" *ngIf="(saisieGenre.touched && saisieGenre.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                </div>
                <div><label>MAIL:</label>
                    <input type="email" autocomplete="off" name="mail" [(ngModel)]="user.mail" required #saisieMail="ngModel"
                    pattern="[a-z0-9._-]+@[a-z]+\.[a-z]{2,4}">
                    <img class="vu" *ngIf="(saisieMail.touched && saisieMail.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieMail.touched && saisieMail.invalid)">merci d'indiquer une adresse mail
                        correcte</p>
                </div>
                <div><label>TEL:</label>
                    <input type="tel" name="tel" [(ngModel)]="user.tel" required #saisieTel="ngModel" pattern="[0-9]{2}.[0-9]{2}.[0-9]{2}.[0-9]{2}.[0-9]{2}" size="30">
                    <img class="vu" *ngIf="(saisieTel.touched && saisieTel.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieTel.touched && saisieTel.invalid)">merci d'indiquer un numéro de téléphone valide</p>
                   
                </div>
                <div><label>NUMERO, NOM DE RUE</label>
                    <input type="adresse" name="adresse" [(ngModel)]="user.adresse" required #saisieAdresse="ngModel">
                    <img class="vu" *ngIf="(saisieAdresse.touched && saisieAdresse.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieAdresse.touched && saisieAdresse.invalid)">merci d'indiquer votre adresse postale</p>
                </div>
                <div><label>CODE POSTAL:</label>
                    <input type="number" name=" CP" [(ngModel)]="user.cp" required #saisieCp="ngModel" min="1000" max="99999">
                    <img class="vu" *ngIf="(saisieCp.touched && saisieCp.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieCp.touched && saisieCp.invalid)">merci d'indiquer votre code postal
                    </p>
                </div>
                <div><label>  VILLE:</label>
                    <input type="text" name=" ville" [(ngModel)]="user.ville" required #saisieVille="ngModel" pattern="[a-zA-Z]+">
                    <img class="vu" *ngIf="(saisieVille.touched && saisieVille.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                    <p class="error" *ngIf="(saisieVille.touched && saisieVille.invalid)">merci d'indiquer votre ville
                    </p>
                </div>

                <div> <label>DESCRIPTION: </label>
                    <p class="error" *ngIf="(saisieDescr.touched && saisieDescr.invalid)">merci de vous décrire
                        brièvement </p>
                        <img class="vu" *ngIf="(saisieDescr.touched && saisieDescr.valid)"src="./../../../assets/vert-gris.png" alt="valid">
                </div>
                <div><textarea name="description" cols="30" rows="10" [(ngModel)]="user.description" wrap="hard"
                        #saisieDescr="ngModel" required></textarea>
                </div>
                <div>
                    <label>HOBBIES:</label> <br>
                    couture<input type="checkbox" name="couture" [checked]="couture"
                        (change)="ccouture($any($event.target).checked)"> <br>
                    <input type="checkbox" name="sport" [checked]="sport"
                        (change)="ssport($any($event.target).checked)">sport <br>
                    <input type="checkbox" name="adrenaline" [checked]="adrenaline"
                        (change)="aadrenaline($any($event.target).checked)">adrénaline <br>
                    <input type="checkbox" name="netflix" [checked]="netflix"
                        (change)="nnetflix($any($event.target).checked)">netflix <br>
                    <input type="checkbox" name="terrasse" [checked]="terrasse"
                        (change)="tterrasse($any($event.target).checked)">terrasses et cafés <br>
                    <input type="checkbox" name="musique" [checked]="musique"
                        (change)="mmusique($any($event.target).checked)">musique <br>
                </div>
                <div>
                    <label>PHOTO DE PROFIL : <br>

                        <input type="file" name="photo" #fileInput accept="image/png, image/jpeg, image/jpg">
                        <button (click)='envoyer()'> envoyer</button> <br>
                        <input type="checkbox"> plus tard
                        <br>

                        <input type="submit" value="valider" [disabled]="formInscription.invalid"></label>
                </div>
            </form>
        </div>
    </div>

</div>
