<div class="container">
    <!--barre du haut : titre et retour accueil-->
    <div class="row gris d-flex align-items-center">
        
        <div class="col-12"> 
            <a routerLink="/">
                <img  (mouseover)="orange()" (mouseout)="gris()"src="{{src}}" alt="">
                <span>retour à l'accueil</span> 
            </a></div>
    </div>
    <!-- centre : à propos-->
    <div class="row grisclair centre">
          <div class="col-10 offset-1 col-md-5 offset-md-1 d-flex align-items-center justify-content-center poignee">
            <img src="./../../../assets/poignee.png">
        </div>
        <div class="col-10 offset-1 col-md-5 contenu">
            <p>Resalliance est un réseau social créé en 2021 par Mélanie Vandervaeren.</p>
            <p>Il permet d'entrer en contact avec une communauté.</p>
            <p>Les principales fonctionnalités:</p>
            <ul>
                <li>accès aux profils du groupe, informations personnelles, pratiques, photos</li>
                <li>possibilité de publier des messages publics sur le profil des amis</li>
                <li>service de messagerie privée</li>
                <li>chat</li>
            </ul>
        </div>
      
    </div>
    <!-- footer-->
    <div class="row gris"></div>



</div>